﻿@model IEnumerable<SaonGroup.JobApp.Models.Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Jobs</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiresAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiresAt)
            </td>
            <td>
                @if (item.State == true)
                {
                    <span class="text-success">Active</span>
                }
                else
                {
                    <span class="text-danger">Inactive</span>
                }
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.JobId">Edit</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.JobId">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.JobId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
